{% extends "layout.html"%}
{% block content %}
<style>
           html, body {
              height: 100%;
        }
            .f-25{
                font-size: 25px !important;
            }
        </style>
        <div class="container pt-5">
           <div class="row m-0 border  py-5">

                <div class="text-center col-md-12">
                    <div class=" display-4">RAJNEESH KUMAR YADAV</div>
                    <div class="f-25">Bommanhalli Bangalore, Karnataka, 560068 | +91-7651944949 | rajneeshy568@gmail.com</div>
                </div>

           </div>
        </div>
  {%endblock%}